*{
  box-sizing: border-box;
  text-align: center;

}
@font-face {
font-family: 'Oleo Script';
font-style: normal;
font-weight: 400;
src: local('Oleo Script'), url(https://fonts.gstatic.com/s/oleoscript/v5/_weQNDK6Uf40CiGFKBBUjogp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
}
@font-face {
font-family: 'Poiret One';
font-style: normal;
font-weight: 400;
src: local('Poiret One'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8QzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
}

.site-header{
  background-image: url("../img/header-background.jpg");
  background: cover no-repeat;
  background-size: 100% 100%;
  height: 520px;
  width: 1280px;
}

.logo{
  background-image: url("../img/logo.png");
  background-size: contain;
  filter: invert(100%);
  width: 215px;
  height: 265px;
  position: absolute;
  top: 140px;
  right: 180px;
}

.header-wrapper{
  position: relative;
  padding: 120px;
  height: 50px;
}

.main-heading {
  font-family: 'Poiret One';
  font-size: 60px;
  color: white;
  text-shadow: black 1px 2px 5px;
}
.callout-message {
  font-family: 'Poiret One';
  text-shadow: black 1px 2px 5px;

}
.contact-wrapper{
  font-family: 'Poiret One';
}
.divider{
  background-color: white;
  height: 2px;
  width: 530px;
  margin-bottom: 30px;
}
.subheader-msg{
  font-family: 'Oleo Script';
  font-size: 20px;
  color: white;
  text-shadow: black 1px 2px 5px;
  margin-top: 40px;

}
.image-cards{
  display: flex;
  justify-content: center;
  padding: 10px;
  width: 1280px;
}
.single-img-card{
  flex: auto;
  margin-left: 20px;
  list-style-type: none;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  box-shadow: black 1px 1px 5px;

}
.primary-text{
  font-family: 'Poiret One';
  font-size: 35px;
  background-color: #43996A;
  color: white;
  text-shadow: black 1px 2px 5px;
  padding: 30px;
  width: 1280px;
  padding: 20px 250px;
}

#left-img{
  background-image: url("../img/left-img.jpg");
  margin-left: 100px;
}
#middle-img{
  background-image: url("../img/middle-img.jpg");

}
#right-img{
  background-image: url("../img/right-img.jpg");
  margin-right: 100px;
}
.contact-email{
  margin: 10px;
  font-size: 30px;
}
.contact-wrapper{
  width: 1280px;
}
.contact-msg{
  font-family: 'Poiret One';
}
.site-footer-text{
  display: block;
  font-weight: 100;
  font-size: 8px;
  background-color: #333333;
  color: white;
  padding: 20px;
  width: 1280px;
}
.site-footer-text{
  font-family: helvetica;
}
